<%- include('header') -%>
<nav class="navbar">
    
    <h1 class="login"><a class="login-logo" href="/login">Login</a></h1>
</nav>
    <h1 class="h1 h1-primary">This is heading</h1>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sed at alias ex omnis numquam commodi ipsam in cum illo beatae modi qui, vero praesentium, delectus obcaecati quos! Rem amet corrupti ipsam atque tenetur veritatis exercitationem nam nihil impedit ipsum odio, dolores tempore voluptates nisi sunt esse alias ea optio unde sit architecto. Sequi illum ullam quam deserunt, itaque aperiam fugiat molestias, reprehenderit perspiciatis sunt dolorem. Sequi et beatae a aut suscipit exercitationem hic animi, reiciendis incidunt delectus, fac''ere corrupti excepturi dolor fuga! Quasi atque recusandae maxime earum hic reprehenderit. Dolor saepe ducimus, possimus suscipit in reprehenderit unde, dolorum consequuntur aliquam modi eveniet. Possimus consequuntur ratione, laboriosam odio minima eos incidunt provident expedita repellat est dolore, delectus sint nesciunt atque.</p>


    <h1 class="chat"><a class="chat-btn" href="/mainChat">Chat</a></h1>


<%- include("footer") -%>