<%- include("header") -%>

<div class="login">
    <form class="login-form" action="/login" method="POST">
        <input class="nameInp input" name="nameInp" type="text" placeholder="Name">
        <input class="emailInp input" name="emailInp" type="email" placeholder="Username">
        <input class="passwordInp input" name="passwordInp" type="password" placeholder="Password">
        <button class="login-btn input" name="login_btn" type="submit">Login</button>
    </form>
</div>

<%- include("footer") -%>