<%- include('header') -%>


    <div class="name-heading">
        <strong class="userName"></strong>
    </div>

    <!-- <div class="leaving-btn">
            <button class="leave-btn" name="leave-btn">Leave</button>
    </div> -->
    <br></br>
    <!-- <div class="leaving-btn">
        <button class="join-btn" name="join-btn">Join</button>
    </div> -->

    <div class="all">

        <div class="vc">
        </div>
        <div class="right-items">
            <div class="container">
                <p id="connection-message" class="wait">Waiting to Connect...</p>
            </div>

            <div class="send">
                <button class="join-leave-btn">Join</button>
                <form action="#" id="send-container">
                    <input type="text" name="messageInp" id="messageInp" autocomplete="off">
                    <button class="btn" type="submit">Send</button>
                </form>
            </div>
        </div>

    </div>







    <%- include("footer") -%>