.main-image {
  max-height: 600px;
  margin-left: -80px;
  margin-top: 30px;
}
.logo {
  color: rgb(245, 245, 245);
  position: absolute;
  top: 30px;
  left: 65px;
  font-size: 20px;
}
.main-content {
  position: absolute;
}
body {
  background-color: #033880;
  overflow: hidden;
}
.main-heading {
  color: rgb(243, 243, 243);
  margin-top: 200px;
  margin-left: 65px;
  font-size: 50px;
  width: 80%;
}
.subheading {
  font-size: 25px;
  color: rgb(184, 184, 184, 0.8);
  margin-left: 65px;
  margin-top: 15px;
}
.main-image {
  animation: MoveLeftRight 4s linear infinite;
}
@keyframes MoveLeftRight {
  0%,
  100% {
    margin-top: 0;
  }
  50% {
    margin-top: 30px;
  }
}

.main-btn {
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 65px;
  margin-top: 25px;
}

.main-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.main-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.main-btn:hover span {
  padding-right: 25px;
}

.main-btn:hover span:after {
  opacity: 1;
  right: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1721px 1778px #fff, 507px 1437px #fff, 1717px 1948px #fff,
    972px 1209px #fff, 675px 228px #fff, 151px 1630px #fff, 1749px 1857px #fff,
    599px 422px #fff, 377px 1831px #fff, 251px 1347px #fff, 217px 521px #fff,
    918px 352px #fff, 1871px 1695px #fff, 1815px 245px #fff, 446px 1717px #fff,
    1081px 1659px #fff, 1586px 1341px #fff, 1421px 1297px #fff, 451px 326px #fff,
    1331px 680px #fff, 4px 1147px #fff, 906px 511px #fff, 1413px 933px #fff,
    1896px 157px #fff, 1887px 241px #fff, 523px 1928px #fff, 1059px 1001px #fff,
    855px 582px #fff, 1044px 73px #fff, 1408px 338px #fff, 1276px 27px #fff,
    1473px 766px #fff, 534px 446px #fff, 156px 90px #fff, 1624px 944px #fff,
    732px 451px #fff, 1107px 662px #fff, 145px 1028px #fff, 1807px 1674px #fff,
    1253px 603px #fff, 1655px 1874px #fff, 1219px 1660px #fff,
    1160px 1714px #fff, 1162px 173px #fff, 1183px 384px #fff, 397px 934px #fff,
    857px 153px #fff, 1416px 602px #fff, 96px 36px #fff, 261px 1432px #fff,
    1956px 444px #fff, 1683px 1520px #fff, 1445px 536px #fff, 1598px 1465px #fff,
    1037px 1712px #fff, 897px 547px #fff, 653px 1782px #fff, 504px 1439px #fff,
    1216px 141px #fff, 1578px 664px #fff, 1336px 1255px #fff, 333px 1515px #fff,
    303px 151px #fff, 113px 1133px #fff, 269px 962px #fff, 1418px 1135px #fff,
    414px 1533px #fff, 504px 820px #fff, 1810px 1876px #fff, 1967px 92px #fff,
    505px 1093px #fff, 1327px 1399px #fff, 1479px 1905px #fff, 344px 1497px #fff,
    326px 1294px #fff, 533px 714px #fff, 1797px 1102px #fff, 440px 1169px #fff,
    48px 1735px #fff, 1834px 1301px #fff, 684px 433px #fff, 737px 1231px #fff,
    186px 1580px #fff, 1201px 155px #fff, 1619px 16px #fff, 1079px 673px #fff,
    516px 1773px #fff, 281px 581px #fff, 357px 565px #fff, 1042px 1132px #fff,
    945px 636px #fff, 233px 568px #fff, 255px 1116px #fff, 756px 56px #fff,
    46px 417px #fff, 456px 856px #fff, 1351px 1399px #fff, 84px 41px #fff,
    910px 743px #fff, 1820px 1613px #fff, 334px 1571px #fff, 1238px 229px #fff,
    756px 718px #fff, 901px 547px #fff, 1327px 1206px #fff, 361px 1844px #fff,
    491px 393px #fff, 1014px 439px #fff, 1392px 1147px #fff, 830px 1188px #fff,
    617px 1615px #fff, 1428px 1806px #fff, 227px 1111px #fff, 960px 394px #fff,
    504px 428px #fff, 1703px 1911px #fff, 1591px 884px #fff, 1624px 1489px #fff,
    563px 1088px #fff, 46px 1982px #fff, 1471px 620px #fff, 984px 2000px #fff,
    1047px 954px #fff, 1464px 801px #fff, 149px 1855px #fff, 585px 1626px #fff,
    1202px 1574px #fff, 1603px 1055px #fff, 661px 483px #fff, 126px 415px #fff,
    1733px 1087px #fff, 446px 451px #fff, 1108px 1045px #fff, 787px 1063px #fff,
    362px 1649px #fff, 688px 1501px #fff, 267px 837px #fff, 1916px 1242px #fff,
    1974px 772px #fff, 1447px 1136px #fff, 275px 111px #fff, 439px 1459px #fff,
    279px 455px #fff, 1548px 1158px #fff, 1769px 174px #fff, 1997px 801px #fff,
    1659px 459px #fff, 1223px 74px #fff, 102px 1071px #fff, 1033px 846px #fff,
    45px 1240px #fff, 576px 1620px #fff, 1594px 831px #fff, 418px 1547px #fff,
    270px 352px #fff, 10px 1006px #fff, 1150px 1228px #fff, 1371px 401px #fff,
    971px 1166px #fff, 702px 635px #fff, 1026px 1707px #fff, 253px 1781px #fff,
    1348px 315px #fff, 1903px 1744px #fff, 128px 1154px #fff, 1018px 767px #fff,
    24px 1187px #fff, 1176px 801px #fff, 1343px 1701px #fff, 581px 1250px #fff,
    21px 61px #fff, 1968px 758px #fff, 1662px 1465px #fff, 1826px 796px #fff,
    525px 879px #fff, 7px 979px #fff, 17px 1964px #fff, 1954px 1406px #fff,
    1105px 1916px #fff, 373px 1844px #fff, 672px 1372px #fff, 1779px 1989px #fff,
    773px 184px #fff, 103px 116px #fff, 437px 539px #fff, 1143px 1023px #fff,
    327px 1423px #fff, 906px 1373px #fff, 857px 128px #fff, 931px 332px #fff,
    25px 356px #fff, 1379px 1396px #fff, 46px 748px #fff, 112px 921px #fff,
    855px 721px #fff, 1893px 570px #fff, 1176px 737px #fff, 212px 1643px #fff,
    20px 163px #fff, 1698px 352px #fff, 498px 1575px #fff, 69px 1191px #fff,
    1619px 1426px #fff, 718px 1259px #fff, 1827px 1889px #fff, 1013px 561px #fff,
    85px 310px #fff, 1170px 1263px #fff, 1964px 1343px #fff, 866px 263px #fff,
    889px 1755px #fff, 245px 1948px #fff, 1687px 392px #fff, 1612px 1949px #fff,
    1428px 326px #fff, 1323px 634px #fff, 624px 1350px #fff, 973px 994px #fff,
    1813px 1669px #fff, 613px 562px #fff, 561px 1792px #fff, 506px 1595px #fff,
    945px 103px #fff, 1086px 651px #fff, 672px 1531px #fff, 52px 1981px #fff,
    449px 1813px #fff, 868px 703px #fff, 1555px 1011px #fff, 21px 693px #fff,
    527px 255px #fff, 524px 480px #fff, 1199px 1979px #fff, 1019px 10px #fff,
    410px 400px #fff, 81px 1969px #fff, 1955px 1973px #fff, 1978px 420px #fff,
    465px 530px #fff, 272px 1617px #fff, 581px 881px #fff, 676px 1866px #fff,
    1514px 1866px #fff, 512px 1774px #fff, 904px 636px #fff, 1278px 923px #fff,
    227px 277px #fff, 848px 1888px #fff, 1928px 1353px #fff, 575px 621px #fff,
    1649px 714px #fff, 1277px 912px #fff, 189px 20px #fff, 908px 32px #fff,
    564px 1033px #fff, 661px 4px #fff, 897px 1682px #fff, 1203px 1567px #fff,
    1081px 1532px #fff, 1797px 1890px #fff, 1374px 1999px #fff,
    641px 1787px #fff, 844px 1495px #fff, 289px 68px #fff, 1663px 1166px #fff,
    1967px 1029px #fff, 1551px 324px #fff, 168px 964px #fff, 469px 102px #fff,
    1168px 1933px #fff, 1477px 828px #fff, 140px 1942px #fff, 569px 700px #fff,
    1260px 418px #fff, 1489px 1802px #fff, 1161px 1430px #fff, 1873px 136px #fff,
    670px 303px #fff, 868px 186px #fff, 1162px 876px #fff, 1451px 510px #fff,
    1285px 1992px #fff, 518px 854px #fff, 942px 1845px #fff, 1702px 1859px #fff,
    130px 1335px #fff, 37px 378px #fff, 634px 654px #fff, 1344px 1882px #fff,
    1958px 558px #fff, 273px 140px #fff, 1765px 239px #fff, 609px 1728px #fff,
    896px 107px #fff, 769px 1386px #fff, 1098px 361px #fff, 96px 86px #fff,
    173px 988px #fff, 861px 1337px #fff, 1554px 1519px #fff, 347px 157px #fff,
    755px 1864px #fff, 1885px 1357px #fff, 1866px 1060px #fff, 1967px 507px #fff,
    577px 507px #fff, 502px 605px #fff, 869px 512px #fff, 983px 792px #fff,
    173px 517px #fff, 1646px 1796px #fff, 1166px 1619px #fff, 1196px 1682px #fff,
    1920px 1209px #fff, 582px 881px #fff, 1762px 131px #fff, 455px 149px #fff,
    1520px 595px #fff, 1806px 8px #fff, 1819px 211px #fff, 1928px 1750px #fff,
    1045px 1324px #fff, 1709px 1958px #fff, 1240px 1802px #fff,
    729px 1289px #fff, 1149px 1270px #fff, 217px 565px #fff, 472px 381px #fff,
    1526px 692px #fff, 1465px 1147px #fff, 319px 1792px #fff, 1310px 1897px #fff,
    766px 1367px #fff, 1599px 452px #fff, 1911px 880px #fff, 612px 594px #fff,
    486px 1143px #fff, 512px 69px #fff, 1936px 208px #fff, 560px 1703px #fff,
    1848px 674px #fff, 1653px 873px #fff, 1882px 45px #fff, 228px 177px #fff,
    685px 194px #fff, 1889px 520px #fff, 1551px 5px #fff, 348px 391px #fff,
    192px 1182px #fff, 679px 139px #fff, 1177px 1529px #fff, 1827px 232px #fff,
    298px 1191px #fff, 801px 270px #fff, 202px 1232px #fff, 1303px 1173px #fff,
    283px 573px #fff, 729px 110px #fff, 668px 878px #fff, 1840px 1396px #fff,
    1436px 1132px #fff, 217px 1291px #fff, 833px 296px #fff, 248px 1919px #fff,
    1858px 1727px #fff, 1839px 1915px #fff, 627px 344px #fff, 354px 138px #fff,
    1296px 528px #fff, 1266px 1214px #fff, 442px 1596px #fff, 762px 1385px #fff,
    1883px 790px #fff, 1734px 1228px #fff, 1678px 1694px #fff, 294px 1948px #fff,
    1458px 1896px #fff, 923px 585px #fff, 374px 1617px #fff, 67px 786px #fff,
    1185px 364px #fff, 1670px 376px #fff, 1947px 618px #fff, 1983px 141px #fff,
    1995px 757px #fff, 586px 1232px #fff, 981px 1099px #fff, 1151px 298px #fff,
    462px 4px #fff, 1688px 1121px #fff, 1110px 165px #fff, 401px 601px #fff,
    1377px 202px #fff, 1183px 1878px #fff, 635px 746px #fff, 944px 1594px #fff,
    218px 122px #fff, 1515px 1061px #fff, 1084px 176px #fff, 479px 599px #fff,
    1465px 131px #fff, 1752px 630px #fff, 858px 1361px #fff, 808px 27px #fff,
    1695px 1808px #fff, 101px 381px #fff, 574px 1873px #fff, 1609px 240px #fff,
    685px 514px #fff, 855px 1178px #fff, 1978px 342px #fff, 1513px 315px #fff,
    103px 440px #fff, 1726px 1296px #fff, 1572px 951px #fff, 1696px 393px #fff,
    1102px 1560px #fff, 1802px 1714px #fff, 640px 172px #fff, 1238px 1487px #fff,
    1801px 42px #fff, 1236px 1047px #fff, 322px 803px #fff, 370px 1481px #fff,
    216px 1767px #fff, 426px 1761px #fff, 385px 741px #fff, 655px 330px #fff,
    1326px 611px #fff, 13px 1359px #fff, 318px 718px #fff, 377px 167px #fff,
    348px 387px #fff, 856px 1264px #fff, 752px 720px #fff, 42px 427px #fff,
    101px 33px #fff, 1390px 1439px #fff, 1577px 235px #fff, 355px 847px #fff,
    747px 607px #fff, 4px 1315px #fff, 51px 1663px #fff, 1938px 1737px #fff,
    982px 1942px #fff, 1427px 1140px #fff, 1071px 713px #fff, 1137px 1353px #fff,
    1837px 256px #fff, 621px 60px #fff, 1174px 1828px #fff, 1046px 1868px #fff,
    1416px 1592px #fff, 927px 344px #fff, 13px 1734px #fff, 821px 844px #fff,
    359px 1073px #fff, 798px 1236px #fff, 1007px 244px #fff, 821px 931px #fff,
    660px 751px #fff, 1320px 1755px #fff, 1378px 1273px #fff, 1831px 1379px #fff,
    1525px 592px #fff, 592px 244px #fff, 494px 678px #fff, 1253px 201px #fff,
    1319px 199px #fff, 1032px 979px #fff, 248px 1465px #fff, 1078px 221px #fff,
    1570px 1787px #fff, 661px 1555px #fff, 1470px 1914px #fff, 1410px 837px #fff,
    872px 563px #fff, 1287px 1714px #fff, 554px 508px #fff, 1823px 538px #fff,
    843px 148px #fff, 1592px 1682px #fff, 1381px 1580px #fff, 1741px 647px #fff,
    1499px 329px #fff, 759px 1649px #fff, 169px 1739px #fff, 1385px 479px #fff,
    154px 1608px #fff, 379px 1930px #fff, 1480px 1045px #fff, 1629px 224px #fff,
    499px 661px #fff, 306px 74px #fff, 485px 1586px #fff, 1223px 1210px #fff,
    148px 884px #fff, 679px 707px #fff, 909px 108px #fff, 876px 1106px #fff,
    1496px 942px #fff, 1985px 817px #fff, 823px 1815px #fff, 226px 439px #fff,
    1239px 764px #fff, 1748px 1413px #fff, 1281px 1022px #fff,
    1171px 1567px #fff, 81px 356px #fff, 359px 1529px #fff, 809px 1885px #fff,
    721px 1778px #fff, 1992px 316px #fff, 1432px 162px #fff, 1761px 1680px #fff,
    310px 1337px #fff, 1764px 250px #fff, 1885px 1852px #fff, 153px 1146px #fff,
    143px 1220px #fff, 598px 165px #fff, 310px 342px #fff, 1455px 315px #fff,
    1186px 1942px #fff, 1408px 778px #fff, 1638px 577px #fff, 1703px 213px #fff,
    48px 1082px #fff, 1301px 658px #fff, 885px 919px #fff, 677px 1940px #fff,
    1139px 73px #fff, 428px 1049px #fff, 970px 1217px #fff, 292px 1294px #fff,
    1853px 1918px #fff, 1436px 1513px #fff, 1328px 611px #fff, 885px 638px #fff,
    462px 1702px #fff, 434px 518px #fff, 1029px 1088px #fff, 90px 622px #fff,
    219px 1202px #fff, 709px 754px #fff, 1541px 1562px #fff, 612px 392px #fff,
    1052px 1486px #fff, 1378px 1120px #fff, 915px 1967px #fff,
    1575px 1694px #fff, 388px 1507px #fff, 18px 305px #fff, 1142px 177px #fff,
    1422px 28px #fff, 1070px 38px #fff, 479px 211px #fff, 1308px 1343px #fff,
    583px 933px #fff, 1938px 1496px #fff, 1204px 1099px #fff, 1958px 372px #fff,
    1638px 603px #fff, 37px 662px #fff, 61px 1424px #fff, 759px 827px #fff,
    1519px 1550px #fff, 303px 1963px #fff, 1630px 375px #fff, 1859px 920px #fff,
    362px 1215px #fff, 1017px 1531px #fff, 663px 712px #fff, 1378px 1207px #fff,
    801px 1266px #fff, 1138px 1131px #fff, 1026px 258px #fff, 300px 181px #fff,
    430px 1055px #fff, 1929px 44px #fff, 539px 402px #fff, 627px 769px #fff,
    661px 1162px #fff, 394px 1084px #fff, 1155px 1155px #fff, 694px 653px #fff,
    60px 1068px #fff, 560px 749px #fff, 758px 1468px #fff, 1993px 478px #fff,
    1401px 315px #fff, 637px 1073px #fff, 924px 596px #fff, 1480px 663px #fff,
    1832px 204px #fff, 724px 1838px #fff, 1086px 290px #fff, 1606px 1097px #fff,
    1295px 1183px #fff, 796px 567px #fff, 1609px 1528px #fff, 1665px 1645px #fff,
    887px 1365px #fff, 1896px 689px #fff, 1087px 839px #fff, 25px 205px #fff,
    354px 1041px #fff, 432px 196px #fff, 672px 1191px #fff, 590px 618px #fff,
    665px 1959px #fff, 6px 637px #fff, 39px 1211px #fff, 1002px 984px #fff,
    1095px 1087px #fff, 1635px 542px #fff, 84px 1915px #fff, 485px 256px #fff,
    1939px 438px #fff, 1749px 1770px #fff, 1612px 59px #fff, 1973px 1197px #fff,
    1680px 1599px #fff, 1200px 617px #fff, 258px 1745px #fff, 1206px 900px #fff,
    964px 1424px #fff, 1110px 309px #fff, 1571px 944px #fff, 1894px 1340px #fff,
    1981px 551px #fff, 418px 1362px #fff, 1721px 1746px #fff, 1645px 658px #fff,
    1009px 1919px #fff, 1109px 1304px #fff, 1917px 1775px #fff,
    207px 1333px #fff, 1454px 1421px #fff, 579px 536px #fff, 679px 1478px #fff,
    1213px 219px #fff, 489px 94px #fff, 221px 1778px #fff, 574px 1531px #fff,
    1272px 387px #fff, 1144px 779px #fff, 529px 1084px #fff, 1502px 1249px #fff,
    561px 737px #fff, 1768px 1268px #fff, 627px 999px #fff, 1763px 202px #fff,
    1277px 393px #fff, 1335px 572px #fff, 1345px 1382px #fff, 599px 1865px #fff,
    997px 585px #fff, 877px 30px #fff, 459px 119px #fff, 701px 931px #fff,
    405px 1312px #fff, 879px 1321px #fff, 732px 1919px #fff, 439px 39px #fff,
    1891px 1054px #fff, 1228px 131px #fff, 1458px 299px #fff, 491px 465px #fff,
    1757px 929px #fff, 112px 1084px #fff, 819px 80px #fff, 773px 156px #fff,
    1786px 1863px #fff, 1222px 1301px #fff, 1642px 1281px #fff, 118px 652px #fff,
    1621px 1670px #fff, 1277px 1256px #fff, 1345px 1577px #fff,
    293px 1500px #fff, 1670px 528px #fff, 1618px 1146px #fff, 1499px 204px #fff,
    1649px 636px #fff, 1639px 1788px #fff, 668px 1297px #fff, 1578px 927px #fff,
    21px 187px #fff, 266px 700px #fff, 574px 868px #fff, 666px 231px #fff,
    1201px 41px #fff, 1363px 1054px #fff, 575px 1212px #fff, 1148px 1696px #fff,
    390px 314px #fff, 723px 1013px #fff, 33px 704px #fff, 275px 1398px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1721px 1778px #fff, 507px 1437px #fff, 1717px 1948px #fff,
    972px 1209px #fff, 675px 228px #fff, 151px 1630px #fff, 1749px 1857px #fff,
    599px 422px #fff, 377px 1831px #fff, 251px 1347px #fff, 217px 521px #fff,
    918px 352px #fff, 1871px 1695px #fff, 1815px 245px #fff, 446px 1717px #fff,
    1081px 1659px #fff, 1586px 1341px #fff, 1421px 1297px #fff, 451px 326px #fff,
    1331px 680px #fff, 4px 1147px #fff, 906px 511px #fff, 1413px 933px #fff,
    1896px 157px #fff, 1887px 241px #fff, 523px 1928px #fff, 1059px 1001px #fff,
    855px 582px #fff, 1044px 73px #fff, 1408px 338px #fff, 1276px 27px #fff,
    1473px 766px #fff, 534px 446px #fff, 156px 90px #fff, 1624px 944px #fff,
    732px 451px #fff, 1107px 662px #fff, 145px 1028px #fff, 1807px 1674px #fff,
    1253px 603px #fff, 1655px 1874px #fff, 1219px 1660px #fff,
    1160px 1714px #fff, 1162px 173px #fff, 1183px 384px #fff, 397px 934px #fff,
    857px 153px #fff, 1416px 602px #fff, 96px 36px #fff, 261px 1432px #fff,
    1956px 444px #fff, 1683px 1520px #fff, 1445px 536px #fff, 1598px 1465px #fff,
    1037px 1712px #fff, 897px 547px #fff, 653px 1782px #fff, 504px 1439px #fff,
    1216px 141px #fff, 1578px 664px #fff, 1336px 1255px #fff, 333px 1515px #fff,
    303px 151px #fff, 113px 1133px #fff, 269px 962px #fff, 1418px 1135px #fff,
    414px 1533px #fff, 504px 820px #fff, 1810px 1876px #fff, 1967px 92px #fff,
    505px 1093px #fff, 1327px 1399px #fff, 1479px 1905px #fff, 344px 1497px #fff,
    326px 1294px #fff, 533px 714px #fff, 1797px 1102px #fff, 440px 1169px #fff,
    48px 1735px #fff, 1834px 1301px #fff, 684px 433px #fff, 737px 1231px #fff,
    186px 1580px #fff, 1201px 155px #fff, 1619px 16px #fff, 1079px 673px #fff,
    516px 1773px #fff, 281px 581px #fff, 357px 565px #fff, 1042px 1132px #fff,
    945px 636px #fff, 233px 568px #fff, 255px 1116px #fff, 756px 56px #fff,
    46px 417px #fff, 456px 856px #fff, 1351px 1399px #fff, 84px 41px #fff,
    910px 743px #fff, 1820px 1613px #fff, 334px 1571px #fff, 1238px 229px #fff,
    756px 718px #fff, 901px 547px #fff, 1327px 1206px #fff, 361px 1844px #fff,
    491px 393px #fff, 1014px 439px #fff, 1392px 1147px #fff, 830px 1188px #fff,
    617px 1615px #fff, 1428px 1806px #fff, 227px 1111px #fff, 960px 394px #fff,
    504px 428px #fff, 1703px 1911px #fff, 1591px 884px #fff, 1624px 1489px #fff,
    563px 1088px #fff, 46px 1982px #fff, 1471px 620px #fff, 984px 2000px #fff,
    1047px 954px #fff, 1464px 801px #fff, 149px 1855px #fff, 585px 1626px #fff,
    1202px 1574px #fff, 1603px 1055px #fff, 661px 483px #fff, 126px 415px #fff,
    1733px 1087px #fff, 446px 451px #fff, 1108px 1045px #fff, 787px 1063px #fff,
    362px 1649px #fff, 688px 1501px #fff, 267px 837px #fff, 1916px 1242px #fff,
    1974px 772px #fff, 1447px 1136px #fff, 275px 111px #fff, 439px 1459px #fff,
    279px 455px #fff, 1548px 1158px #fff, 1769px 174px #fff, 1997px 801px #fff,
    1659px 459px #fff, 1223px 74px #fff, 102px 1071px #fff, 1033px 846px #fff,
    45px 1240px #fff, 576px 1620px #fff, 1594px 831px #fff, 418px 1547px #fff,
    270px 352px #fff, 10px 1006px #fff, 1150px 1228px #fff, 1371px 401px #fff,
    971px 1166px #fff, 702px 635px #fff, 1026px 1707px #fff, 253px 1781px #fff,
    1348px 315px #fff, 1903px 1744px #fff, 128px 1154px #fff, 1018px 767px #fff,
    24px 1187px #fff, 1176px 801px #fff, 1343px 1701px #fff, 581px 1250px #fff,
    21px 61px #fff, 1968px 758px #fff, 1662px 1465px #fff, 1826px 796px #fff,
    525px 879px #fff, 7px 979px #fff, 17px 1964px #fff, 1954px 1406px #fff,
    1105px 1916px #fff, 373px 1844px #fff, 672px 1372px #fff, 1779px 1989px #fff,
    773px 184px #fff, 103px 116px #fff, 437px 539px #fff, 1143px 1023px #fff,
    327px 1423px #fff, 906px 1373px #fff, 857px 128px #fff, 931px 332px #fff,
    25px 356px #fff, 1379px 1396px #fff, 46px 748px #fff, 112px 921px #fff,
    855px 721px #fff, 1893px 570px #fff, 1176px 737px #fff, 212px 1643px #fff,
    20px 163px #fff, 1698px 352px #fff, 498px 1575px #fff, 69px 1191px #fff,
    1619px 1426px #fff, 718px 1259px #fff, 1827px 1889px #fff, 1013px 561px #fff,
    85px 310px #fff, 1170px 1263px #fff, 1964px 1343px #fff, 866px 263px #fff,
    889px 1755px #fff, 245px 1948px #fff, 1687px 392px #fff, 1612px 1949px #fff,
    1428px 326px #fff, 1323px 634px #fff, 624px 1350px #fff, 973px 994px #fff,
    1813px 1669px #fff, 613px 562px #fff, 561px 1792px #fff, 506px 1595px #fff,
    945px 103px #fff, 1086px 651px #fff, 672px 1531px #fff, 52px 1981px #fff,
    449px 1813px #fff, 868px 703px #fff, 1555px 1011px #fff, 21px 693px #fff,
    527px 255px #fff, 524px 480px #fff, 1199px 1979px #fff, 1019px 10px #fff,
    410px 400px #fff, 81px 1969px #fff, 1955px 1973px #fff, 1978px 420px #fff,
    465px 530px #fff, 272px 1617px #fff, 581px 881px #fff, 676px 1866px #fff,
    1514px 1866px #fff, 512px 1774px #fff, 904px 636px #fff, 1278px 923px #fff,
    227px 277px #fff, 848px 1888px #fff, 1928px 1353px #fff, 575px 621px #fff,
    1649px 714px #fff, 1277px 912px #fff, 189px 20px #fff, 908px 32px #fff,
    564px 1033px #fff, 661px 4px #fff, 897px 1682px #fff, 1203px 1567px #fff,
    1081px 1532px #fff, 1797px 1890px #fff, 1374px 1999px #fff,
    641px 1787px #fff, 844px 1495px #fff, 289px 68px #fff, 1663px 1166px #fff,
    1967px 1029px #fff, 1551px 324px #fff, 168px 964px #fff, 469px 102px #fff,
    1168px 1933px #fff, 1477px 828px #fff, 140px 1942px #fff, 569px 700px #fff,
    1260px 418px #fff, 1489px 1802px #fff, 1161px 1430px #fff, 1873px 136px #fff,
    670px 303px #fff, 868px 186px #fff, 1162px 876px #fff, 1451px 510px #fff,
    1285px 1992px #fff, 518px 854px #fff, 942px 1845px #fff, 1702px 1859px #fff,
    130px 1335px #fff, 37px 378px #fff, 634px 654px #fff, 1344px 1882px #fff,
    1958px 558px #fff, 273px 140px #fff, 1765px 239px #fff, 609px 1728px #fff,
    896px 107px #fff, 769px 1386px #fff, 1098px 361px #fff, 96px 86px #fff,
    173px 988px #fff, 861px 1337px #fff, 1554px 1519px #fff, 347px 157px #fff,
    755px 1864px #fff, 1885px 1357px #fff, 1866px 1060px #fff, 1967px 507px #fff,
    577px 507px #fff, 502px 605px #fff, 869px 512px #fff, 983px 792px #fff,
    173px 517px #fff, 1646px 1796px #fff, 1166px 1619px #fff, 1196px 1682px #fff,
    1920px 1209px #fff, 582px 881px #fff, 1762px 131px #fff, 455px 149px #fff,
    1520px 595px #fff, 1806px 8px #fff, 1819px 211px #fff, 1928px 1750px #fff,
    1045px 1324px #fff, 1709px 1958px #fff, 1240px 1802px #fff,
    729px 1289px #fff, 1149px 1270px #fff, 217px 565px #fff, 472px 381px #fff,
    1526px 692px #fff, 1465px 1147px #fff, 319px 1792px #fff, 1310px 1897px #fff,
    766px 1367px #fff, 1599px 452px #fff, 1911px 880px #fff, 612px 594px #fff,
    486px 1143px #fff, 512px 69px #fff, 1936px 208px #fff, 560px 1703px #fff,
    1848px 674px #fff, 1653px 873px #fff, 1882px 45px #fff, 228px 177px #fff,
    685px 194px #fff, 1889px 520px #fff, 1551px 5px #fff, 348px 391px #fff,
    192px 1182px #fff, 679px 139px #fff, 1177px 1529px #fff, 1827px 232px #fff,
    298px 1191px #fff, 801px 270px #fff, 202px 1232px #fff, 1303px 1173px #fff,
    283px 573px #fff, 729px 110px #fff, 668px 878px #fff, 1840px 1396px #fff,
    1436px 1132px #fff, 217px 1291px #fff, 833px 296px #fff, 248px 1919px #fff,
    1858px 1727px #fff, 1839px 1915px #fff, 627px 344px #fff, 354px 138px #fff,
    1296px 528px #fff, 1266px 1214px #fff, 442px 1596px #fff, 762px 1385px #fff,
    1883px 790px #fff, 1734px 1228px #fff, 1678px 1694px #fff, 294px 1948px #fff,
    1458px 1896px #fff, 923px 585px #fff, 374px 1617px #fff, 67px 786px #fff,
    1185px 364px #fff, 1670px 376px #fff, 1947px 618px #fff, 1983px 141px #fff,
    1995px 757px #fff, 586px 1232px #fff, 981px 1099px #fff, 1151px 298px #fff,
    462px 4px #fff, 1688px 1121px #fff, 1110px 165px #fff, 401px 601px #fff,
    1377px 202px #fff, 1183px 1878px #fff, 635px 746px #fff, 944px 1594px #fff,
    218px 122px #fff, 1515px 1061px #fff, 1084px 176px #fff, 479px 599px #fff,
    1465px 131px #fff, 1752px 630px #fff, 858px 1361px #fff, 808px 27px #fff,
    1695px 1808px #fff, 101px 381px #fff, 574px 1873px #fff, 1609px 240px #fff,
    685px 514px #fff, 855px 1178px #fff, 1978px 342px #fff, 1513px 315px #fff,
    103px 440px #fff, 1726px 1296px #fff, 1572px 951px #fff, 1696px 393px #fff,
    1102px 1560px #fff, 1802px 1714px #fff, 640px 172px #fff, 1238px 1487px #fff,
    1801px 42px #fff, 1236px 1047px #fff, 322px 803px #fff, 370px 1481px #fff,
    216px 1767px #fff, 426px 1761px #fff, 385px 741px #fff, 655px 330px #fff,
    1326px 611px #fff, 13px 1359px #fff, 318px 718px #fff, 377px 167px #fff,
    348px 387px #fff, 856px 1264px #fff, 752px 720px #fff, 42px 427px #fff,
    101px 33px #fff, 1390px 1439px #fff, 1577px 235px #fff, 355px 847px #fff,
    747px 607px #fff, 4px 1315px #fff, 51px 1663px #fff, 1938px 1737px #fff,
    982px 1942px #fff, 1427px 1140px #fff, 1071px 713px #fff, 1137px 1353px #fff,
    1837px 256px #fff, 621px 60px #fff, 1174px 1828px #fff, 1046px 1868px #fff,
    1416px 1592px #fff, 927px 344px #fff, 13px 1734px #fff, 821px 844px #fff,
    359px 1073px #fff, 798px 1236px #fff, 1007px 244px #fff, 821px 931px #fff,
    660px 751px #fff, 1320px 1755px #fff, 1378px 1273px #fff, 1831px 1379px #fff,
    1525px 592px #fff, 592px 244px #fff, 494px 678px #fff, 1253px 201px #fff,
    1319px 199px #fff, 1032px 979px #fff, 248px 1465px #fff, 1078px 221px #fff,
    1570px 1787px #fff, 661px 1555px #fff, 1470px 1914px #fff, 1410px 837px #fff,
    872px 563px #fff, 1287px 1714px #fff, 554px 508px #fff, 1823px 538px #fff,
    843px 148px #fff, 1592px 1682px #fff, 1381px 1580px #fff, 1741px 647px #fff,
    1499px 329px #fff, 759px 1649px #fff, 169px 1739px #fff, 1385px 479px #fff,
    154px 1608px #fff, 379px 1930px #fff, 1480px 1045px #fff, 1629px 224px #fff,
    499px 661px #fff, 306px 74px #fff, 485px 1586px #fff, 1223px 1210px #fff,
    148px 884px #fff, 679px 707px #fff, 909px 108px #fff, 876px 1106px #fff,
    1496px 942px #fff, 1985px 817px #fff, 823px 1815px #fff, 226px 439px #fff,
    1239px 764px #fff, 1748px 1413px #fff, 1281px 1022px #fff,
    1171px 1567px #fff, 81px 356px #fff, 359px 1529px #fff, 809px 1885px #fff,
    721px 1778px #fff, 1992px 316px #fff, 1432px 162px #fff, 1761px 1680px #fff,
    310px 1337px #fff, 1764px 250px #fff, 1885px 1852px #fff, 153px 1146px #fff,
    143px 1220px #fff, 598px 165px #fff, 310px 342px #fff, 1455px 315px #fff,
    1186px 1942px #fff, 1408px 778px #fff, 1638px 577px #fff, 1703px 213px #fff,
    48px 1082px #fff, 1301px 658px #fff, 885px 919px #fff, 677px 1940px #fff,
    1139px 73px #fff, 428px 1049px #fff, 970px 1217px #fff, 292px 1294px #fff,
    1853px 1918px #fff, 1436px 1513px #fff, 1328px 611px #fff, 885px 638px #fff,
    462px 1702px #fff, 434px 518px #fff, 1029px 1088px #fff, 90px 622px #fff,
    219px 1202px #fff, 709px 754px #fff, 1541px 1562px #fff, 612px 392px #fff,
    1052px 1486px #fff, 1378px 1120px #fff, 915px 1967px #fff,
    1575px 1694px #fff, 388px 1507px #fff, 18px 305px #fff, 1142px 177px #fff,
    1422px 28px #fff, 1070px 38px #fff, 479px 211px #fff, 1308px 1343px #fff,
    583px 933px #fff, 1938px 1496px #fff, 1204px 1099px #fff, 1958px 372px #fff,
    1638px 603px #fff, 37px 662px #fff, 61px 1424px #fff, 759px 827px #fff,
    1519px 1550px #fff, 303px 1963px #fff, 1630px 375px #fff, 1859px 920px #fff,
    362px 1215px #fff, 1017px 1531px #fff, 663px 712px #fff, 1378px 1207px #fff,
    801px 1266px #fff, 1138px 1131px #fff, 1026px 258px #fff, 300px 181px #fff,
    430px 1055px #fff, 1929px 44px #fff, 539px 402px #fff, 627px 769px #fff,
    661px 1162px #fff, 394px 1084px #fff, 1155px 1155px #fff, 694px 653px #fff,
    60px 1068px #fff, 560px 749px #fff, 758px 1468px #fff, 1993px 478px #fff,
    1401px 315px #fff, 637px 1073px #fff, 924px 596px #fff, 1480px 663px #fff,
    1832px 204px #fff, 724px 1838px #fff, 1086px 290px #fff, 1606px 1097px #fff,
    1295px 1183px #fff, 796px 567px #fff, 1609px 1528px #fff, 1665px 1645px #fff,
    887px 1365px #fff, 1896px 689px #fff, 1087px 839px #fff, 25px 205px #fff,
    354px 1041px #fff, 432px 196px #fff, 672px 1191px #fff, 590px 618px #fff,
    665px 1959px #fff, 6px 637px #fff, 39px 1211px #fff, 1002px 984px #fff,
    1095px 1087px #fff, 1635px 542px #fff, 84px 1915px #fff, 485px 256px #fff,
    1939px 438px #fff, 1749px 1770px #fff, 1612px 59px #fff, 1973px 1197px #fff,
    1680px 1599px #fff, 1200px 617px #fff, 258px 1745px #fff, 1206px 900px #fff,
    964px 1424px #fff, 1110px 309px #fff, 1571px 944px #fff, 1894px 1340px #fff,
    1981px 551px #fff, 418px 1362px #fff, 1721px 1746px #fff, 1645px 658px #fff,
    1009px 1919px #fff, 1109px 1304px #fff, 1917px 1775px #fff,
    207px 1333px #fff, 1454px 1421px #fff, 579px 536px #fff, 679px 1478px #fff,
    1213px 219px #fff, 489px 94px #fff, 221px 1778px #fff, 574px 1531px #fff,
    1272px 387px #fff, 1144px 779px #fff, 529px 1084px #fff, 1502px 1249px #fff,
    561px 737px #fff, 1768px 1268px #fff, 627px 999px #fff, 1763px 202px #fff,
    1277px 393px #fff, 1335px 572px #fff, 1345px 1382px #fff, 599px 1865px #fff,
    997px 585px #fff, 877px 30px #fff, 459px 119px #fff, 701px 931px #fff,
    405px 1312px #fff, 879px 1321px #fff, 732px 1919px #fff, 439px 39px #fff,
    1891px 1054px #fff, 1228px 131px #fff, 1458px 299px #fff, 491px 465px #fff,
    1757px 929px #fff, 112px 1084px #fff, 819px 80px #fff, 773px 156px #fff,
    1786px 1863px #fff, 1222px 1301px #fff, 1642px 1281px #fff, 118px 652px #fff,
    1621px 1670px #fff, 1277px 1256px #fff, 1345px 1577px #fff,
    293px 1500px #fff, 1670px 528px #fff, 1618px 1146px #fff, 1499px 204px #fff,
    1649px 636px #fff, 1639px 1788px #fff, 668px 1297px #fff, 1578px 927px #fff,
    21px 187px #fff, 266px 700px #fff, 574px 868px #fff, 666px 231px #fff,
    1201px 41px #fff, 1363px 1054px #fff, 575px 1212px #fff, 1148px 1696px #fff,
    390px 314px #fff, 723px 1013px #fff, 33px 704px #fff, 275px 1398px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 412px 1045px #fff, 593px 1610px #fff, 263px 54px #fff,
    267px 1357px #fff, 683px 891px #fff, 360px 1343px #fff, 604px 1631px #fff,
    1823px 347px #fff, 1134px 441px #fff, 1064px 1746px #fff, 853px 1953px #fff,
    230px 897px #fff, 490px 1098px #fff, 739px 354px #fff, 1562px 617px #fff,
    982px 23px #fff, 68px 1391px #fff, 1755px 659px #fff, 148px 1906px #fff,
    1379px 1124px #fff, 736px 1966px #fff, 1235px 625px #fff, 413px 1374px #fff,
    450px 1124px #fff, 405px 1872px #fff, 51px 482px #fff, 1255px 1608px #fff,
    1047px 1706px #fff, 1783px 1322px #fff, 958px 59px #fff, 389px 374px #fff,
    1212px 442px #fff, 1309px 1195px #fff, 1393px 1713px #fff,
    1342px 1017px #fff, 1843px 389px #fff, 1756px 101px #fff, 965px 550px #fff,
    1379px 1471px #fff, 37px 1150px #fff, 134px 136px #fff, 1546px 117px #fff,
    1023px 963px #fff, 1204px 993px #fff, 276px 396px #fff, 936px 1778px #fff,
    479px 165px #fff, 1999px 1542px #fff, 1993px 1004px #fff, 576px 885px #fff,
    1480px 500px #fff, 1932px 775px #fff, 379px 1294px #fff, 1113px 250px #fff,
    1270px 888px #fff, 1441px 440px #fff, 1465px 498px #fff, 912px 1548px #fff,
    1900px 1796px #fff, 559px 1691px #fff, 1614px 112px #fff, 1610px 939px #fff,
    1571px 1333px #fff, 367px 500px #fff, 1492px 292px #fff, 927px 1776px #fff,
    1553px 494px #fff, 501px 49px #fff, 362px 1168px #fff, 459px 1708px #fff,
    973px 749px #fff, 755px 842px #fff, 520px 1576px #fff, 1444px 44px #fff,
    1396px 902px #fff, 125px 1446px #fff, 1769px 598px #fff, 64px 1205px #fff,
    779px 967px #fff, 1341px 648px #fff, 505px 633px #fff, 847px 782px #fff,
    980px 109px #fff, 590px 348px #fff, 767px 1800px #fff, 1141px 1383px #fff,
    80px 230px #fff, 1851px 563px #fff, 1959px 481px #fff, 1029px 764px #fff,
    117px 1435px #fff, 590px 747px #fff, 1007px 973px #fff, 183px 11px #fff,
    349px 1414px #fff, 1864px 1083px #fff, 1190px 702px #fff, 827px 1917px #fff,
    227px 1232px #fff, 701px 1530px #fff, 786px 1564px #fff, 842px 1992px #fff,
    1294px 174px #fff, 1289px 1394px #fff, 1587px 1751px #fff, 1771px 277px #fff,
    945px 1195px #fff, 1677px 1677px #fff, 79px 425px #fff, 129px 1877px #fff,
    244px 1849px #fff, 220px 1756px #fff, 698px 1896px #fff, 1457px 684px #fff,
    477px 1988px #fff, 1462px 13px #fff, 47px 241px #fff, 60px 600px #fff,
    951px 56px #fff, 361px 1365px #fff, 435px 1008px #fff, 1279px 1820px #fff,
    1054px 992px #fff, 40px 787px #fff, 1883px 1588px #fff, 826px 1995px #fff,
    1742px 240px #fff, 187px 1057px #fff, 435px 1047px #fff, 1239px 647px #fff,
    1021px 1654px #fff, 1802px 467px #fff, 1113px 944px #fff, 356px 414px #fff,
    1933px 1886px #fff, 608px 1091px #fff, 185px 1663px #fff, 948px 1964px #fff,
    1858px 1540px #fff, 316px 484px #fff, 1944px 1130px #fff, 664px 216px #fff,
    594px 791px #fff, 2px 1083px #fff, 1952px 821px #fff, 1759px 444px #fff,
    1240px 1857px #fff, 227px 1446px #fff, 25px 497px #fff, 1331px 951px #fff,
    821px 1072px #fff, 966px 657px #fff, 259px 838px #fff, 642px 911px #fff,
    1712px 1477px #fff, 1901px 346px #fff, 1059px 209px #fff, 1754px 726px #fff,
    297px 773px #fff, 602px 188px #fff, 1051px 1212px #fff, 1821px 180px #fff,
    1123px 257px #fff, 236px 1369px #fff, 569px 509px #fff, 1836px 1416px #fff,
    92px 662px #fff, 1056px 794px #fff, 1951px 631px #fff, 1868px 1109px #fff,
    408px 1962px #fff, 1796px 960px #fff, 509px 1150px #fff, 40px 464px #fff,
    1414px 1884px #fff, 811px 959px #fff, 1380px 1537px #fff, 1038px 1183px #fff,
    1195px 1063px #fff, 301px 1050px #fff, 1959px 375px #fff, 1123px 1799px #fff,
    1793px 1070px #fff, 596px 1930px #fff, 741px 1269px #fff, 1410px 1588px #fff,
    1518px 875px #fff, 1397px 570px #fff, 1369px 663px #fff, 710px 1963px #fff,
    1269px 1812px #fff, 197px 1999px #fff, 504px 1982px #fff, 392px 336px #fff,
    1976px 1435px #fff, 1195px 1842px #fff, 171px 500px #fff, 1113px 915px #fff,
    291px 877px #fff, 1488px 861px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 412px 1045px #fff, 593px 1610px #fff, 263px 54px #fff,
    267px 1357px #fff, 683px 891px #fff, 360px 1343px #fff, 604px 1631px #fff,
    1823px 347px #fff, 1134px 441px #fff, 1064px 1746px #fff, 853px 1953px #fff,
    230px 897px #fff, 490px 1098px #fff, 739px 354px #fff, 1562px 617px #fff,
    982px 23px #fff, 68px 1391px #fff, 1755px 659px #fff, 148px 1906px #fff,
    1379px 1124px #fff, 736px 1966px #fff, 1235px 625px #fff, 413px 1374px #fff,
    450px 1124px #fff, 405px 1872px #fff, 51px 482px #fff, 1255px 1608px #fff,
    1047px 1706px #fff, 1783px 1322px #fff, 958px 59px #fff, 389px 374px #fff,
    1212px 442px #fff, 1309px 1195px #fff, 1393px 1713px #fff,
    1342px 1017px #fff, 1843px 389px #fff, 1756px 101px #fff, 965px 550px #fff,
    1379px 1471px #fff, 37px 1150px #fff, 134px 136px #fff, 1546px 117px #fff,
    1023px 963px #fff, 1204px 993px #fff, 276px 396px #fff, 936px 1778px #fff,
    479px 165px #fff, 1999px 1542px #fff, 1993px 1004px #fff, 576px 885px #fff,
    1480px 500px #fff, 1932px 775px #fff, 379px 1294px #fff, 1113px 250px #fff,
    1270px 888px #fff, 1441px 440px #fff, 1465px 498px #fff, 912px 1548px #fff,
    1900px 1796px #fff, 559px 1691px #fff, 1614px 112px #fff, 1610px 939px #fff,
    1571px 1333px #fff, 367px 500px #fff, 1492px 292px #fff, 927px 1776px #fff,
    1553px 494px #fff, 501px 49px #fff, 362px 1168px #fff, 459px 1708px #fff,
    973px 749px #fff, 755px 842px #fff, 520px 1576px #fff, 1444px 44px #fff,
    1396px 902px #fff, 125px 1446px #fff, 1769px 598px #fff, 64px 1205px #fff,
    779px 967px #fff, 1341px 648px #fff, 505px 633px #fff, 847px 782px #fff,
    980px 109px #fff, 590px 348px #fff, 767px 1800px #fff, 1141px 1383px #fff,
    80px 230px #fff, 1851px 563px #fff, 1959px 481px #fff, 1029px 764px #fff,
    117px 1435px #fff, 590px 747px #fff, 1007px 973px #fff, 183px 11px #fff,
    349px 1414px #fff, 1864px 1083px #fff, 1190px 702px #fff, 827px 1917px #fff,
    227px 1232px #fff, 701px 1530px #fff, 786px 1564px #fff, 842px 1992px #fff,
    1294px 174px #fff, 1289px 1394px #fff, 1587px 1751px #fff, 1771px 277px #fff,
    945px 1195px #fff, 1677px 1677px #fff, 79px 425px #fff, 129px 1877px #fff,
    244px 1849px #fff, 220px 1756px #fff, 698px 1896px #fff, 1457px 684px #fff,
    477px 1988px #fff, 1462px 13px #fff, 47px 241px #fff, 60px 600px #fff,
    951px 56px #fff, 361px 1365px #fff, 435px 1008px #fff, 1279px 1820px #fff,
    1054px 992px #fff, 40px 787px #fff, 1883px 1588px #fff, 826px 1995px #fff,
    1742px 240px #fff, 187px 1057px #fff, 435px 1047px #fff, 1239px 647px #fff,
    1021px 1654px #fff, 1802px 467px #fff, 1113px 944px #fff, 356px 414px #fff,
    1933px 1886px #fff, 608px 1091px #fff, 185px 1663px #fff, 948px 1964px #fff,
    1858px 1540px #fff, 316px 484px #fff, 1944px 1130px #fff, 664px 216px #fff,
    594px 791px #fff, 2px 1083px #fff, 1952px 821px #fff, 1759px 444px #fff,
    1240px 1857px #fff, 227px 1446px #fff, 25px 497px #fff, 1331px 951px #fff,
    821px 1072px #fff, 966px 657px #fff, 259px 838px #fff, 642px 911px #fff,
    1712px 1477px #fff, 1901px 346px #fff, 1059px 209px #fff, 1754px 726px #fff,
    297px 773px #fff, 602px 188px #fff, 1051px 1212px #fff, 1821px 180px #fff,
    1123px 257px #fff, 236px 1369px #fff, 569px 509px #fff, 1836px 1416px #fff,
    92px 662px #fff, 1056px 794px #fff, 1951px 631px #fff, 1868px 1109px #fff,
    408px 1962px #fff, 1796px 960px #fff, 509px 1150px #fff, 40px 464px #fff,
    1414px 1884px #fff, 811px 959px #fff, 1380px 1537px #fff, 1038px 1183px #fff,
    1195px 1063px #fff, 301px 1050px #fff, 1959px 375px #fff, 1123px 1799px #fff,
    1793px 1070px #fff, 596px 1930px #fff, 741px 1269px #fff, 1410px 1588px #fff,
    1518px 875px #fff, 1397px 570px #fff, 1369px 663px #fff, 710px 1963px #fff,
    1269px 1812px #fff, 197px 1999px #fff, 504px 1982px #fff, 392px 336px #fff,
    1976px 1435px #fff, 1195px 1842px #fff, 171px 500px #fff, 1113px 915px #fff,
    291px 877px #fff, 1488px 861px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 850px 819px #fff, 1605px 1792px #fff, 610px 232px #fff,
    910px 700px #fff, 290px 1697px #fff, 516px 119px #fff, 1558px 1907px #fff,
    1561px 355px #fff, 552px 1601px #fff, 1723px 1886px #fff, 1946px 913px #fff,
    418px 690px #fff, 186px 340px #fff, 1646px 145px #fff, 1349px 455px #fff,
    1048px 1176px #fff, 160px 1065px #fff, 1228px 9px #fff, 488px 1394px #fff,
    1550px 104px #fff, 1460px 889px #fff, 1983px 1572px #fff, 22px 1625px #fff,
    541px 676px #fff, 1424px 1549px #fff, 532px 620px #fff, 1791px 327px #fff,
    1318px 513px #fff, 1103px 456px #fff, 1052px 945px #fff, 1186px 825px #fff,
    1862px 1301px #fff, 640px 30px #fff, 575px 1227px #fff, 1293px 1576px #fff,
    730px 451px #fff, 746px 630px #fff, 357px 948px #fff, 1760px 1602px #fff,
    1999px 803px #fff, 1641px 758px #fff, 561px 435px #fff, 1124px 532px #fff,
    1649px 168px #fff, 1857px 1480px #fff, 1154px 1782px #fff, 142px 374px #fff,
    1058px 26px #fff, 1471px 1226px #fff, 1139px 214px #fff, 824px 748px #fff,
    1294px 1519px #fff, 1432px 763px #fff, 1512px 937px #fff, 617px 1962px #fff,
    1198px 1050px #fff, 113px 1395px #fff, 1099px 882px #fff, 366px 288px #fff,
    915px 961px #fff, 396px 1217px #fff, 913px 963px #fff, 1929px 1595px #fff,
    1833px 1510px #fff, 1352px 127px #fff, 948px 482px #fff, 1925px 1608px #fff,
    24px 636px #fff, 450px 1195px #fff, 309px 1101px #fff, 236px 436px #fff,
    1536px 1573px #fff, 278px 575px #fff, 800px 1823px #fff, 1384px 415px #fff,
    1161px 997px #fff, 707px 1724px #fff, 211px 1993px #fff, 1855px 1275px #fff,
    1880px 1129px #fff, 730px 689px #fff, 529px 713px #fff, 953px 1524px #fff,
    1155px 124px #fff, 753px 551px #fff, 435px 1309px #fff, 1738px 1956px #fff,
    1843px 1208px #fff, 1647px 1293px #fff, 1957px 1529px #fff,
    1066px 1992px #fff, 1927px 1392px #fff, 889px 774px #fff, 876px 603px #fff,
    1257px 1344px #fff, 1850px 1167px #fff, 189px 298px #fff, 1765px 1116px #fff,
    1519px 1164px #fff, 1188px 191px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 850px 819px #fff, 1605px 1792px #fff, 610px 232px #fff,
    910px 700px #fff, 290px 1697px #fff, 516px 119px #fff, 1558px 1907px #fff,
    1561px 355px #fff, 552px 1601px #fff, 1723px 1886px #fff, 1946px 913px #fff,
    418px 690px #fff, 186px 340px #fff, 1646px 145px #fff, 1349px 455px #fff,
    1048px 1176px #fff, 160px 1065px #fff, 1228px 9px #fff, 488px 1394px #fff,
    1550px 104px #fff, 1460px 889px #fff, 1983px 1572px #fff, 22px 1625px #fff,
    541px 676px #fff, 1424px 1549px #fff, 532px 620px #fff, 1791px 327px #fff,
    1318px 513px #fff, 1103px 456px #fff, 1052px 945px #fff, 1186px 825px #fff,
    1862px 1301px #fff, 640px 30px #fff, 575px 1227px #fff, 1293px 1576px #fff,
    730px 451px #fff, 746px 630px #fff, 357px 948px #fff, 1760px 1602px #fff,
    1999px 803px #fff, 1641px 758px #fff, 561px 435px #fff, 1124px 532px #fff,
    1649px 168px #fff, 1857px 1480px #fff, 1154px 1782px #fff, 142px 374px #fff,
    1058px 26px #fff, 1471px 1226px #fff, 1139px 214px #fff, 824px 748px #fff,
    1294px 1519px #fff, 1432px 763px #fff, 1512px 937px #fff, 617px 1962px #fff,
    1198px 1050px #fff, 113px 1395px #fff, 1099px 882px #fff, 366px 288px #fff,
    915px 961px #fff, 396px 1217px #fff, 913px 963px #fff, 1929px 1595px #fff,
    1833px 1510px #fff, 1352px 127px #fff, 948px 482px #fff, 1925px 1608px #fff,
    24px 636px #fff, 450px 1195px #fff, 309px 1101px #fff, 236px 436px #fff,
    1536px 1573px #fff, 278px 575px #fff, 800px 1823px #fff, 1384px 415px #fff,
    1161px 997px #fff, 707px 1724px #fff, 211px 1993px #fff, 1855px 1275px #fff,
    1880px 1129px #fff, 730px 689px #fff, 529px 713px #fff, 953px 1524px #fff,
    1155px 124px #fff, 753px 551px #fff, 435px 1309px #fff, 1738px 1956px #fff,
    1843px 1208px #fff, 1647px 1293px #fff, 1957px 1529px #fff,
    1066px 1992px #fff, 1927px 1392px #fff, 889px 774px #fff, 876px 603px #fff,
    1257px 1344px #fff, 1850px 1167px #fff, 189px 298px #fff, 1765px 1116px #fff,
    1519px 1164px #fff, 1188px 191px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
