* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.navbar .login-logo {
  float: right;
  clear: both;
}

.login form {
  /* display: block; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; */
}
.login-btn {
  color: white;
}

.input {
  margin: 10px;
  padding: 5px;
  outline: none;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
}

.input:hover {
  border: 2px solid lightgreen;
}

.login-logo {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 7px;
  transition: 0.25s;
  color: crimson;
  margin: 20px;
}

.login-logo:hover {
  background-color: rgb(116, 220, 255);
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 20px;
}

.chat a {
  border: 2px solid greenyellow;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.chat a:hover {
  background-color: aquamarine;
  color: black;
}

/* Chat page styling */
.wait {
  color: aliceblue;
  font-size: 15px;
}

#connection-message{
  /* top: 50px; */
  position: relative;
  background-color: rgb(23, 0, 77);
  padding: 5px;
}
.logo {
  display: block;
  margin: auto;
  height: 50px;
  width: 50px;
}
.all {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 60px 20px;
}
/* .vc1{
    width: 100%;
    height: 50%;
    margin-bottom: 3px;
}
.vc2{
    background-color: rgb(255, 255, 255,0.1);
   
    width: 100%;
    height: 50%;
   
} */
video {
  /* height: 100px; */
  width: 100%;
  transform: rotateY(180deg);
}

.vc {
  width: 23%;
  float: left;
  height: 77vh;
  padding: 5px;

  border: 1px solid greenyellow;
}

.container {
  width: 90%;
  /* background-color: red; */
  margin: auto;
  height: 68vh;
  padding: 33px;
  overflow-y: auto;
  border: 1px solid greenyellow;
  /* border-radius: 10px; */
}

.message {
  background-color: rgb(161, 161, 161, 0.1);
  width: 24%;
  border: 2px solid black;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px 0 5px 0;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

.middle {
  position: relative;
  clear: both;
  margin: auto;
  text-align: center;
  background-color: rgb(46, 39, 39);
  color: white;
}

.right-items {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.send {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.join-leave-btn {
  padding: 10px;
  flex-grow: 0.2;
}

#send-container {
  flex-grow: 5;
  float: right;
  text-align: center;
  display: flex;
  height: fit-content;
}

#messageInp {
  flex-grow: 2;
  border: 2px solid black;
  padding-left: 4px;
  height: 34px;
  outline: none;
  border-radius: 6px;
}

.btn {
  /* flex-grow: 0; */
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  padding: 6px 14px;
  height: 34px;
  outline: none;
}
.name {
  display: block;
  text-align: center;
  font-size: 4rem;
  background-color: skyblue;
  width: 50%;
  margin: auto;
}

/******REsponsiveness************/
@media (max-width: 361px) {
  .all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vc {
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* background-color: red; */
  }
}
